<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

        <resource-ref>
                <description>FukaiSystem</description>
                <res-ref-name>jdbc/FukaiSystem</res-ref-name>
                <res-type>javax.sql.DataSource</res-type>
                <res-auth>Container</res-auth>
        </resource-ref>
<servlet>
 <servlet-name> getFormat </servlet-name>
 <servlet-class> fukaisystem.print.GetFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getFormat </servlet-name>
 <url-pattern> /getFormat </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> registerFormat </servlet-name>
 <servlet-class> fukaisystem.print.RegisterFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> registerFormat </servlet-name>
 <url-pattern> /registerFormat </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> deleteFormat </servlet-name>
 <servlet-class> fukaisystem.print.DeleteFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> deleteFormat </servlet-name>
 <url-pattern> /deleteFormat </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getFormatName </servlet-name>
 <servlet-class> fukaisystem.print.GetFormatName </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getFormatName </servlet-name>
 <url-pattern> /getFormatName </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getFormatNames </servlet-name>
 <servlet-class> fukaisystem.print.GetFormatNames </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getFormatNames </servlet-name>
 <url-pattern> /getFormatNames </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> existsFormat </servlet-name>
 <servlet-class> fukaisystem.print.ExistsFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> existsFormat </servlet-name>
 <url-pattern> /existsFormat </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> renameFormat </servlet-name>
 <servlet-class> fukaisystem.print.RenameFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> renameFormat </servlet-name>
 <url-pattern> /renameFormat </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> addSlip </servlet-name>
 <servlet-class> fukaisystem.print.AddSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> addSlip </servlet-name>
 <url-pattern> /addSlip </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> existsSlip </servlet-name>
 <servlet-class> fukaisystem.print.ExistsSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> existsSlip </servlet-name>
 <url-pattern> /existsSlip </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> renameSlip </servlet-name>
 <servlet-class> fukaisystem.print.RenameSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> renameSlip </servlet-name>
 <url-pattern> /renameSlip </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> deleteSlip </servlet-name>
 <servlet-class> fukaisystem.print.DeleteSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> deleteSlip </servlet-name>
 <url-pattern> /deleteSlip </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getLinks </servlet-name>
 <servlet-class> fukaisystem.print.GetLinks </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getLinks </servlet-name>
 <url-pattern> /getLinks </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> registerLink </servlet-name>
 <servlet-class> fukaisystem.print.RegisterLink </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> registerLink </servlet-name>
 <url-pattern> /registerLink </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getNames </servlet-name>
 <servlet-class> fukaisystem.table.GetNames </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getNames </servlet-name>
 <url-pattern> /getNames </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getData2 </servlet-name>
 <servlet-class> fukaisystem.table.GetData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getData2 </servlet-name>
 <url-pattern> /getData2 </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getSalesSummary </servlet-name>
 <servlet-class> fukaisystem.table.GetSalesSummary </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getSalesSummary </servlet-name>
 <url-pattern> /getSalesSummary </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getShelf </servlet-name>
 <servlet-class> fukaisystem.aggregate.GetShelf2 </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getShelf </servlet-name>
 <url-pattern> /getShelf </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getLedger </servlet-name>
 <servlet-class> fukaisystem.aggregate.GetLedger </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getLedger </servlet-name>
 <url-pattern> /getLedger </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> getSalesData </servlet-name>
 <servlet-class> fukaisystem.aggregate.GetSalesData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getSalesData </servlet-name>
 <url-pattern> /getSalesData </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> tbInit </servlet-name>
 <servlet-class> fukaisystem.TbInit </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> tbInit </servlet-name>
 <url-pattern> /tbInit </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getTableData </servlet-name>
 <servlet-class> fukaisystem.GetTableData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getTableData </servlet-name>
 <url-pattern> /getTableData </url-pattern>
 </servlet-mapping>

  <servlet>
 <servlet-name> dataRegister </servlet-name>
 <servlet-class> fukaisystem.DataRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> dataRegister </servlet-name>
 <url-pattern> /dataRegister </url-pattern>
 </servlet-mapping>

  <servlet>
 <servlet-name> queryExecutor </servlet-name>
 <servlet-class> fukaisystem.QueryExecutor </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> queryExecutor </servlet-name>
 <url-pattern> /queryExecutor </url-pattern>
 </servlet-mapping>


 <servlet>
 <servlet-name> corpRegister </servlet-name>
 <servlet-class> fukaisystem.address.CorpRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> corpRegister </servlet-name>
 <url-pattern> /corpRegister </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> indRegister </servlet-name>
 <servlet-class> fukaisystem.address.IndRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> indRegister </servlet-name>
 <url-pattern> /indRegister </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getAddress </servlet-name>
 <servlet-class> fukaisystem.address.GetAddress </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getAddress </servlet-name>
 <url-pattern> /getAddress </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getCountry </servlet-name>
 <servlet-class> fukaisystem.address.GetCountry </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getCountry </servlet-name>
 <url-pattern> /getCountry </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getCoType </servlet-name>
 <servlet-class> fukaisystem.address.GetCoType </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getCoType </servlet-name>
 <url-pattern> /getCoType </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> getInType </servlet-name>
 <servlet-class> fukaisystem.address.GetInType </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getInType </servlet-name>
 <url-pattern> /getInType </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> getNenga </servlet-name>
 <servlet-class> fukaisystem.address.GetNenga </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getNenga </servlet-name>
 <url-pattern> /getNenga </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getCorpData </servlet-name>
 <servlet-class> fukaisystem.address.GetCorpData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getCorpData </servlet-name>
 <url-pattern> /getCorpData </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> getIndData </servlet-name>
 <servlet-class> fukaisystem.address.GetIndData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getIndData </servlet-name>
 <url-pattern> /getIndData </url-pattern>
 </servlet-mapping>


 <servlet>
 <servlet-name> getQuotationData </servlet-name>
 <servlet-class> fukaisystem.GetQuotationData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getQuotationData </servlet-name>
 <url-pattern> /getQuotationData </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> numCheck </servlet-name>
 <servlet-class> fukaisystem.NumCheck </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> numCheck </servlet-name>
 <url-pattern> /numCheck </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> text </servlet-name>
 <servlet-class> fukaisystem.Text </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> text </servlet-name>
 <url-pattern> /text </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> init </servlet-name>
 <servlet-class> fukaisystem.Init </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> init </servlet-name>
 <url-pattern> /init </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> pinit </servlet-name>
 <servlet-class> fukaisystem.Init2 </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> pinit </servlet-name>
 <url-pattern> /pinit </url-pattern>
 </servlet-mapping>

  <servlet>
  <servlet-name> updateCandidate </servlet-name>
 <servlet-class> fukaisystem.UpdateCandidate </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> updateCandidate </servlet-name>
 <url-pattern> /updateCandidate </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getExpectedCost </servlet-name>
 <servlet-class> fukaisystem.GetExpectedCost </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getExpectedCost </servlet-name>
 <url-pattern> /getExpectedCost </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getActualCost </servlet-name>
 <servlet-class> fukaisystem.GetActualCost </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getActualCost </servlet-name>
 <url-pattern> /getActualCost </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getEstimatedCost </servlet-name>
 <servlet-class> fukaisystem.GetEstimatedCost </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getEstimatedCost </servlet-name>
 <url-pattern> /getEstimatedCost </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> auth </servlet-name>
 <servlet-class> fukaisystem.group.Auth </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> auth </servlet-name>
 <url-pattern> /auth </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> cp </servlet-name>
 <servlet-class> fukaisystem.group.ChangePassword </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> cp </servlet-name>
 <url-pattern> /cp </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> iis </servlet-name>
 <servlet-class> fukaisystem.input.InitInputSystem </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> iis </servlet-name>
 <url-pattern> /iis </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getChart </servlet-name>
 <servlet-class> fukaisystem.GetChart </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getChart </servlet-name>
 <url-pattern> /getChart </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setLabel </servlet-name>
 <servlet-class> fukaisystem.SetLabel </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setLabel </servlet-name>
 <url-pattern> /setLabel </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> orderRegister </servlet-name>
 <servlet-class> fukaisystem.OrderRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> orderRegister </servlet-name>
 <url-pattern> /orderRegister </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> quotationRegister </servlet-name>
 <servlet-class> fukaisystem.QuotationRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> quotationRegister </servlet-name>
 <url-pattern> /quotationRegister </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> productionRegister </servlet-name>
 <servlet-class> fukaisystem.ProductionRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> productionRegister </servlet-name>
 <url-pattern> /productionRegister </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> salesRegister </servlet-name>
 <servlet-class> fukaisystem.SalesRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> salesRegister </servlet-name>
 <url-pattern> /salesRegister </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> dispatchingRegister </servlet-name>
 <servlet-class> fukaisystem.DispatchingRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> dispatchingRegister </servlet-name>
 <url-pattern> /dispatchingRegister </url-pattern>
 </servlet-mapping>

<servlet>
 <servlet-name> inputRegister </servlet-name>
 <servlet-class> fukaisystem.input.InputRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> inputRegister </servlet-name>
 <url-pattern> /inputRegister </url-pattern>
 </servlet-mapping>


 <servlet>
 <servlet-name> search </servlet-name>
 <servlet-class> fukaisystem.Search </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> search </servlet-name>
 <url-pattern> /search </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> detailSearch </servlet-name>
 <servlet-class> fukaisystem.DetailSearch </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> detailSearch </servlet-name>
 <url-pattern> /detailSearch </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> osearch </servlet-name>
 <servlet-class> fukaisystem.OrderSearch </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> osearch </servlet-name>
 <url-pattern> /osearch </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> osearch2 </servlet-name>
 <servlet-class> fukaisystem.OrderSearch2 </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> osearch2 </servlet-name>
 <url-pattern> /osearch2 </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> dsearch </servlet-name>
 <servlet-class> fukaisystem.DispatchingSearch </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> dsearch </servlet-name>
 <url-pattern> /dsearch </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> hsearch </servlet-name>
 <servlet-class> fukaisystem.HistorySearch </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> hsearch </servlet-name>
 <url-pattern> /hsearch </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> summary </servlet-name>
 <servlet-class> fukaisystem.GetSummary </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> summary </servlet-name>
 <url-pattern> /summary </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> osummary </servlet-name>
 <servlet-class> fukaisystem.GetOrderSummary </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> osummary </servlet-name>
 <url-pattern> /osummary </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> dsummary </servlet-name>
 <servlet-class> fukaisystem.GetDispatchingSummary </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> dsummary </servlet-name>
 <url-pattern> /dsummary </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> readSlip </servlet-name>
 <servlet-class> fukaisystem.ReadSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> readSlip </servlet-name>
 <url-pattern> /readSlip </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> writeSlip </servlet-name>
 <servlet-class> fukaisystem.WriteSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> writeSlip </servlet-name>
 <url-pattern> /writeSlip </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getTitle </servlet-name>
 <servlet-class> fukaisystem.GetTitle </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getTitle </servlet-name>
 <url-pattern> /getTitle </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getColInfo </servlet-name>
 <servlet-class> fukaisystem.GetColInfo </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getColInfo </servlet-name>
 <url-pattern> /getColInfo </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getSlipName </servlet-name>
 <servlet-class> fukaisystem.GetSlipName </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getSlipName </servlet-name>
 <url-pattern> /getSlipName </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setSlipFormat </servlet-name>
 <servlet-class> fukaisystem.SetSlipFormat </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setSlipFormat </servlet-name>
 <url-pattern> /setSlipFormat </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getRecord </servlet-name>
 <servlet-class> fukaisystem.GetRecord </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getRecord </servlet-name>
 <url-pattern> /getRecord </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getCandidate </servlet-name>
 <servlet-class> fukaisystem.GetCandidate </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getCandidate </servlet-name>
 <url-pattern> /getCandidate </url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name> getIndCandidate </servlet-name>
 <servlet-class> fukaisystem.address.GetIndCandidate </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getIndCandidate </servlet-name>
 <url-pattern> /getIndCandidate </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getSalesSlip </servlet-name>
 <servlet-class> fukaisystem.GetSalesSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getSalesSlip </servlet-name>
 <url-pattern> /getSalesSlip </url-pattern>
 </servlet-mapping>

 <!-- <servlet>
 <servlet-name> deleteSlip </servlet-name>
 <servlet-class> fukaisystem.DeleteSlip </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> deleteSlip </servlet-name>
 <url-pattern> /deleteSlip </url-pattern>
 </servlet-mapping> -->

 <servlet>
 <servlet-name> copy </servlet-name>
 <servlet-class> fukaisystem.CopyData </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> copy </servlet-name>
 <url-pattern> /copy </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getTaxRate </servlet-name>
 <servlet-class> fukaisystem.GetTaxRate </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getTaxRate </servlet-name>
 <url-pattern> /getTaxRate </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getSchedule </servlet-name>
 <servlet-class> fukaisystem.group.GetSchedule </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getSchedule </servlet-name>
 <url-pattern> /getSchedule </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> scheduleRegister </servlet-name>
 <servlet-class> fukaisystem.group.ScheduleRegister </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> scheduleRegister </servlet-name>
 <url-pattern> /scheduleRegister </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getState </servlet-name>
 <servlet-class> fukaisystem.aggregate.GetState </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getState </servlet-name>
 <url-pattern> /getState </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setClose </servlet-name>
 <servlet-class> fukaisystem.aggregate.SetClose </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setClose </servlet-name>
 <url-pattern> /setClose </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setRelease </servlet-name>
 <servlet-class> fukaisystem.aggregate.SetRelease </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setRelease </servlet-name>
 <url-pattern> /setRelease </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setHoliday </servlet-name>
 <servlet-class> fukaisystem.group.SetHoliday </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setHoliday </servlet-name>
 <url-pattern> /setHoliday </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> getDM </servlet-name>
 <servlet-class> fukaisystem.group.GetDandM </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> getDM </servlet-name>
 <url-pattern> /getDM </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> setMember </servlet-name>
 <servlet-class> fukaisystem.group.SetMember </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> setMember </servlet-name>
 <url-pattern> /setMember </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> deleteMember </servlet-name>
 <servlet-class> fukaisystem.group.DeleteMember </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> deleteMember </servlet-name>
 <url-pattern> /deleteMember </url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name> hello </servlet-name>
 <servlet-class> fukaisystem.Hello </servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name> hello </servlet-name>
 <url-pattern> /hello </url-pattern>
 </servlet-mapping>
 </web-app>